@using TitanBlog.Models
@using TitanBlog.Services.Interfaces
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TitanBlog.Services

@model IPagedList<Blog>
@inject IImageService imageservice

@{
    ViewData["Title"] = "Index";

}

<main class="blog-grid-page">
    <div class="container">
        <h1 class="oleez-page-title wow fadeInUp">BLOGS</h1>
        <div class="row">
            @foreach (var blog in Model)
            {

                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <h6>@blog.Name</h6>
                        <div class="blog-post-thumbnail-wrapper">

                            <img src="@imageservice.DecodeImage(blog.ImageData, blog.ImageType)" alt="blog">
                        </div>
                        <p class="blog-post-date">@blog.Created</p>
                        <h5 class="blog-post-title">@blog.Description</h5>

                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-secondary btn-lg mb-2" asp-action="Edit" asp-route-id="@blog.Id">Edit</a>

                            <a class="btn btn-primary btn-lg mb-2" asp-action="Details" asp-route-id="@blog.Id">Details</a>

                            <a class="btn btn-danger btn-lg mb-2" asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                            <br />
                            <a class="btn btn-lg btn-dark btn-block" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blog.Id">LAUNCH BLOG</a>

                        }
                    </div>
                </div>

            }
        </div>
    </div>

    <div class="row">
        <div class="col h3">
            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
        </div>
    </div>

    <!-- Paged List Core-->
    <div class="row">
        <div class="col">
            <nav class="oleez-pagination wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "active" },
                        PageClasses = new string[] { "oleez-pagination wow" }
                    })
            </nav>
        </div>
    </div>
</main>