@using TitanBlog.Services.Interfaces
@using TitanBlog.Services
@model IEnumerable<Blog>
@inject IImageService imageService
@inject PostService  postService
@inject BlogService blogService
@{
    ViewData["Title"] = "Landing Page";
    Blog blogOne = new();
    Blog blogTwo = new();
    Blog blogThree = new();
    Blog blogFour = new();
    int count = 0;

    foreach (var blogTest in Model)
    {
        if (count == 4)
        {
            break;
        }
        else
        {
            if (count == 0)
            {
                blogOne = blogTest;
            }
            else if (count == 1)
            {
                blogTwo = blogTest;
            }
            else if (count == 2)
            {
                blogThree = blogTest;
            }
            else if (count == 3)
            {
                blogFour = blogTest;
            }
        }
        count++;
    }
}

@**@

<section>
    <div class="container wow fadeIn">
        <div id="oleezLandingCarousel" class="oleez-landing-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="@imageService.DecodeImage(blogOne.ImageData, blogOne.ImageType)" alt="First slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>@blogOne.Name</span></h2>
                        @*<h2 data-animation="animated fadeInRight"><span>TEMPLATE</span></h2>*@
                        <a class="carousel-item-link" data-animation="animated fadeInRight" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blogOne.Id"> EXPLORE BLOG POST</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@imageService.DecodeImage(blogTwo.ImageData, blogTwo.ImageType)" alt="Second slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>@blogTwo.Name</span></h2>
                        @*<h2 data-animation="animated fadeInRight"><span>MVC</span></h2>*@
                        <a class="carousel-item-link" data-animation="animated fadeInRight" data-animation="animated fadeInRight" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blogTwo.Id">EXPLORE BLOG POST</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@imageService.DecodeImage(blogThree.ImageData, blogThree.ImageType)" alt="Third slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>@blogThree.Name</span></h2>
                        @*<h2 data-animation="animated fadeInRight"><span>DIGITAL TECHNOLOGY</span></h2>*@
                        <a class="carousel-item-link" data-animation="animated fadeInRight" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blogThree.Id">EXPLORE BLOG POST</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@imageService.DecodeImage(blogFour.ImageData, blogFour.ImageType)" alt="Fourth slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>@blogFour.Name</span></h2>
                        @*<h2 data-animation="animated fadeInRight"><span>SIMPLIFIED </span></h2>*@
                        <a class="carousel-item-link" data-animation="animated fadeInRight" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blogFour.Id"> EXPLORE BLOG POST</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-about blog-grid-page">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">01</span> <img src="~/Images/69030601.png" alt="ollez" height="12">
            </div>
            <div class="row landing-about-content wow fadeInUp">
                <div class="col-md-6">
                    <h2>CHECK OUT OUR LATEST BLOG POSTS!</h2>
                </div>
                <div class="col-md-6">
                    <p>Below are a few of our most recent blog Posts ! Get the scoop on the latest tech topics.</p>
                </div>
            </div>

            <div class="row">
                @foreach (var blog in Model)
                {

                    <div class="col-md-4">
                        <div class="blog-post-card wow fadeInUp">
                            <div class="blog-post-thumbnail-wrapper">
                                <img src="@imageService.DecodeImage(blog.ImageData, blog.ImageType)" alt="blog">
                            </div>
                            <p class="blog-post-date">@blog.Created.ToString("MMM/dd/yyyy")</p>
                            <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blog.Id">
                                <h5 class="blog-post-title">@blog.Name</h5>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="oleez-landing-section oleez-landing-section-news">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">02</span> < alt="ollez" height="12">
            </div>
            <h2 class="section-title wow fadeInUp">Recent Posts</h2>
            <p class="news-section-subtitle wow fadeInUp">Have a look at our most popular Blog Posts and share your thoughts in the comments.</p>
            <div class="row">
                @foreach (var post in await postService.GetIndexPosts())
                {
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="news-card news-card-1 wow fadeInUp">
                            <div class="card-body">
                                <div class="author-info media">
                                    <img src="@imageService.DecodeImage(post.ImageData, post.ImageType)" alt="author" class="author-avatar">
                                    <div class="media-body">
                                        <h6 class="author-name">Posted by @post.Author</h6>
                                        <p class="news-post-date">@post.Created.ToString("MMM/dd/yyyy")</p>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">@post.Title</span> 4 min read
                                </div>
                                <h5 class="post-title">@post.Abstract</h5>
                                <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug" class="post-permalink">Read more </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>