@using TitanBlog.Services.Interfaces
@using TitanBlog.Services
@model IEnumerable<Blog>
@inject IImageService imageService
@inject PostService  postService
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container wow fadeIn">
        <div id="oleezLandingCarousel" class="oleez-landing-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="~/Images/Woman With Phone In Her Hand.jpg" alt="First slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>CHOOSING A RESPONSIVE</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>TEMPLATE</span></h2>
                        <a class="carousel-item-link" data-animation="animated fadeInRight"> READ BLOG</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Mac Desktop with 4 pics.jpg" alt="Second slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>ADVANTAGES OF USING</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>MVC</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">READ BLOG</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Mac Desktop, Laptop, tablet.jpg" alt="Third slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>REMARKABLE</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>DIGITAL TECHNOLOGY</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE PROJECT</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Open Laptop and Tablet.jpg" alt="Fourth slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>MODEL VIEW CONTROLLER</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>SIMPLIFIED </span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight"> READ BLOG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-about blog-grid-page">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">01</span> <img src="~/Images/69030601.png" alt="ollez" height="12">
            </div>
            <div class="row landing-about-content wow fadeInUp">
                <div class="col-md-6">
                    <h2>CHECK OUT OUR LATEST BLOG!</h2>
                </div>
                <div class="col-md-6">
                    <p>Below are a few of our most recent blog ! Get the scoop on the latest tech topics.</p>
                </div>
            </div>

            <div class="row">
                @foreach (var blog in Model)
                {

                    <div class="col-md-4">
                        <div class="blog-post-card wow fadeInUp">
                            <div class="blog-post-thumbnail-wrapper">
                                <img src="@imageService.DecodeImage(blog.ImageData, blog.ImageType)" alt="blog">
                            </div>
                            <p class="blog-post-date">@blog.Created.ToString("MMM/dd/yyyy")</p>
                            <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-blogId="@blog.Id">
                                <h5 class="blog-post-title">@blog.Name</h5>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="oleez-landing-section oleez-landing-section-news">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">02</span> <img src="~/Images/69030601.png" alt="ollez" height="12">
            </div>
            <h2 class="section-title wow fadeInUp">Recent Posts</h2>
            <p class="news-section-subtitle wow fadeInUp">Take a look at our most popular Blog Posts and share your thoughts in the comments.</p>
            <div class="row">
                @foreach (var post in await postService.GetIndexPosts())
                {
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="news-card news-card-1 wow fadeInUp">
                            <div class="card-body">
                                <div class="author-info media">
                                    <img src="@imageService.DecodeImage(post.ImageData, post.ImageType)" alt="author" class="author-avatar">
                                    <div class="media-body">
                                        <h6 class="author-name">Posted by @post.Author</h6>
                                        <p class="news-post-date">@post.Created.ToString("MMM/dd/yyyy")</p>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">@post.Title</span> 4 min read
                                </div>
                                <h5 class="post-title">@post.Abstract</h5>
                                <a asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id" class="post-permalink">Read more </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>